.wrapOrder {
  position: fixed;
  width: 27%;
  margin-left: auto;
  margin-right: 42px;
  padding-top: 140px;

  form {
    flex-flow: row wrap;
    margin-left: auto;

    input {
      height: 50px;
      width: 385px;
      margin: 10px;
      font-size: 25px;
    }

    .wrapBtnFormSubmit {
      display: flex;
      margin-right: 10px;
    }

    .btnDisabled {
      background-color: darkgray;
      color: #3b4d61;
      border-radius: 5px;
      padding: 3px 25px;
      margin-left: 10px;
      font-size: 17px;
    }

    .btn {
      background-color: #3b4d61;
      color: #f9d10f;
      border-radius: 5px;
      padding: 3px 25px;
      margin-left: 10px;
      font-size: 17px;

      &:hover {
        background-color: #f9d10f;
        color: #3b4d61;
      }

      a {
        text-decoration: none;
        color: #f9d10f;

        &:hover {
          color: #3b4d61;
        }
      }
    }
  }
}