.productCardWrap {
  border-radius: 4px;
  width: 20%;
  height: 550px;
  margin: 0 0 5% 3%;
  &:hover .btnPriceBuy{
    transform: scale(1.2);
    transition: all 0.1s;
  }

  .productCard {
    border: 2px solid #3b4d61;
    margin-bottom: 10px;
    height: 85%;
    border-radius: 5px;
    box-shadow: -10px 10px 10px #3b4d61;
  }


}
.productOverview {
  display: block;
  height: 32%;
  overflow: hidden;
  padding: 5px;
  color: #3b4d61;
}

.titleContent {
  text-align: center;
  padding: 7px 0 0 5px;
  color: #f9d10f;
  background-color: #6b7b8c;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 17px;
  font-weight: bold;
}

.btnPriceBuy {
  display: block;
  width: 130px;
  margin-left: auto;
  margin-top: 25px;
  font-size: 17px;
  font-weight: bold;
  color: #3b4d61;
  background-color: #f9d10f;
  border-radius: 3px;

  &:hover {
    background-color: #6b7b8c;
    color: #f9d10f;
  }
}

.btnPriceDisabled{
  display: block;
  width: 130px;
  margin-left: auto;
  margin-top: 25px;
  font-size: 17px;
  font-weight: bold;
  color: #3b4d61;
  background-color: darkgray;
  border-radius: 3px;
}

.poster {
  width: 100%;
  height: 60%;
  display: block;
  vertical-align: top;
}